body {
    
    color: rgb(216, 212, 212);
    font-family: "Anton", sans-serif;

}

.bg-img {
    background: 
linear-gradient(
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)
),
url(imgs/forgebg.jpg);
background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    
        }

h2 {
    color: rgb(197, 75, 5) ;
}

i {
    color: rgb(197, 75, 5) ;
  }

/*navbar*/
nav {
    
    padding-top: 10px ;
    margin-bottom: 30px ;
    border-bottom: solid 1px   rgb(216, 212, 212) ;
    background-image: linear-gradient(to right, #202020, #222222, #202020);
}
.navbar-brand {
   
    text-align: center;
    font-family: "Anton", sans-serif;
    font-size: 2.5rem;
    color: rgb(197, 75, 5)!important;
}




/*Pic Carousel*/

.carousel {
    border: solid 1px rgb(216, 212, 212) ;
}

.carousel-item {
    max-height: 450px;
}

/*Card*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 5vh;
    text-align: center;
    
    min-height: 15rem;
    margin-bottom: 20px;
    color: rgb(216, 212, 212);
   
  }

.card-img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card:hover {
        
    transform: translate3D(0,-1px,0) scale(1.05);
  
}

/*Modal*/

.modal-content {
    background-image: linear-gradient(to right, #202020, #222222, #202020);
}
 

/*Footer*/
footer {
    
    text-align: center;
   
    
    
  }




