.navbar-brand {
    font-family: "Anton", sans-serif;
    font-size: 2.5rem;
    color: rgb(197, 75, 5)!important;
}
h2 {
    color: ;
}
header {
    font-family: "Anton", sans-serif;
    
}
body {
    
    color: rgb(216, 212, 212);
    background-image:url(imgs/forgebg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;

}

nav {
    padding-top: 10px ;
    margin-bottom: 30px ;
    border-bottom: solid 1px   rgb(216, 212, 212) ;
    background-image: linear-gradient(to right, #202020, #222222, #202020);
}
.caption {
    background-color:  rgba(0, 0, 0, 0.5);;
}
.carousel-item {
    max-height: 450px;
}
.carousel {
    border: solid 1px rgb(216, 212, 212) ;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-left: 5vh;
    text-align: center;
    background-image: linear-gradient(to right, #202020, #222222, #202020);
    min-height: 19rem;
    margin-bottom: 20px;
   
  }

  .card:hover {
        
    transform: translate3D(0,-1px,0) scale(1.05);
  
}

.modal-content {
    background-image: linear-gradient(to right, #202020, #222222, #202020);
}
 


  footer {
    background-image: linear-gradient(to right, #202020, #222222, #202020);
    text-align: center;
   
    
    border-top: solid 1px   rgb(216, 212, 212) ;
  }

  i {
    color: rgb(197, 75, 5) ;
  }
  img {
    max-height: 450px;
    width:100%;
    height:auto;
}


  

