.navbar-brand, h2 {
    font-family: "Anton", sans-serif;
    font-size: 2.5rem;
    color: rgb(197, 75, 5)!important;
}
header {
    font-family: "Anton", sans-serif;
    
}
body {
    color: rgb(216, 212, 212);
    background-image: linear-gradient(to right, #202020, #222222, #202020);

}

nav {
    padding-top: 10px ;
    margin-bottom: 30px ;
    border-bottom: solid 1px   rgb(216, 212, 212) ;
    background-image: linear-gradient(to right, #202020, #222222, #202020);
}
.carousel-item {
    max-height: 450px;
}
.carousel {
    border: solid 1px rgb(216, 212, 212) ;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    margin-left: 5vh;
    text-align: center;
    background-image: linear-gradient(to right, #202020, #222222, #202020);
    min-height: 19rem;
   
  }

  .card:hover {
        
    transform: translate3D(0,-1px,0) scale(1.05);
  
}

.modal-content {
    background-image: linear-gradient(to right, #202020, #222222, #202020);
}
 


  footer {
    text-align: center;
    margin-top: 100px ;
    margin-bottom: none;
    border-top: solid 1px   rgb(216, 212, 212) ;
  }

  i {
    color: rgb(197, 75, 5) ;
  }
  img {
 
    width:100%;
    height:auto;
}


  

